<div class="row">
    <div class="col-md-12">
        {{#each article}}
            <div class="card-panel">
                {{#if this.title}}
                <h4>Title: {{this.title}}</h4>
                <h4>Summary: {{this.summary}}</h4>
                <a href={{this.link}} >Link to the Article</a>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>